image:
  repository: firstapp
  tag: v7
  pullPolicy: IfNotPresent

global:
  imageRegistry: public.ecr.aws
  security:
    allowInsecureImages: true

env:
  redisUrl: redis://redis:6379/0
  elasticUrl: http://firstapp-elasticsearch:9200

replicaCount: 2

service:
  type: NodePort
  port: 8000
  targetPort: 8000
  nodePort: 30080

ingress:
  enabled: true
  className: nginx
  host: firstapp.local
  path: /

redis:
  enabled: true
  image: redis:7.2
  port: 6379
  storage:
    size: 1Gi
    storageClassName: standard
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

fluentBit:
  enabled: true
  image: cr.fluentbit.io/fluent/fluent-bit:2.2
  input:
    path: /var/log/containers/*.log
    memBufLimit: 50MB
  config:
    flush: 1
    logLevel: info
  resources:
    requests:
      cpu: 50m
      memory: 50Mi
    limits:
      cpu: 100m
      memory: 200Mi

logstash:
  enabled: true
  image: docker.elastic.co/logstash/logstash:8.14.3
  replicaCount: 1
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  javaOpts: "-Xms512m -Xmx512m"
  service:
    fluentBitPort: 5044
    beatsPort: 5045
    monitoringPort: 9600
  elasticsearch:
    hosts: http://firstapp-elasticsearch:9200
  pipeline:
    logsIndex: k8s-logs-%{+YYYY.MM.dd}
    metricsIndex: metricbeat-%{+YYYY.MM.dd}
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

metricbeat:
  enabled: true
  image: docker.elastic.co/beats/metricbeat:8.14.3
  period: 30s
  hostNetwork: true
  resources:
    requests:
      cpu: 75m
      memory: 150Mi
    limits:
      cpu: 200m
      memory: 300Mi

elasticsearch:
  enabled: true
  master:
    replicaCount: 1
    heapSize: 1g
    resources:
      requests:
        cpu: "500m"
        memory: "2Gi"
      limits:
        cpu: "1"
        memory: "3Gi"
  data:
    replicaCount: 1
    heapSize: 1g
    resources:
      requests:
        cpu: "500m"
        memory: "2Gi"
      limits:
        cpu: "1"
        memory: "3Gi"
  coordinating:
    replicaCount: 0
  ingest:
    replicaCount: 0
  persistence:
    enabled: true
    size: 5Gi
    storageClass: standard
  volumePermissions:
    enabled: false
  sysctlImage:
    enabled: false

kibana:
  enabled: true
  replicaCount: 1
  image:
    tag: 9.1.2-debian-12-r0
  elasticsearch:
    hosts:
      - firstapp-elasticsearch
    port: 9200
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: "100m"
      memory: "512Mi"
    limits:
      cpu: "250m"
      memory: "1Gi"
